body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%;
    line-height: 1.8;
    background: no-repeat fixed center linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("background/background.jpg");
    background-size: cover;
}

#home {

    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.w3-bar .w3-button {
    padding: 16px;
}