
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url("background/background.jpg") no-repeat fixed center;
    background-size: cover;
    line-height: 1.8;

}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

.w3-bar .w3-button {
    padding: 16px;
}


/* ---------- WORKERCONFIGURATIONS.RAZOR ---------- */


.container {
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.90);
}

.worker-configlist .card {
    border-radius: 10px;
    margin-top: 50%;
    padding: 20px;
}

.worker-configlist .card .card-header {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #f2f2f280;
    border-radius: 50%;
}

.worker-configlist .card .card-header {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #f2f2f2;
    border-radius: 50%;
    padding: 20px;
}

.worker-configlist .card p {
    font-size: 16px;
    color: #000;
}

.worker-configlist .table th,
.worker-configlist .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}

.spinner {
    border: 10px solid silver;
    border-top: 10px solid #000509;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 50%;

    position: absolute;
    left: 50%;
    margin-left: -4em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* ------------------------------------------------- */


/* ---------- CREATEWORKERCONFIG.RAZOR  && EDITWORKERCONFIG---------- */

.containerCreate, .containerEdit {
    padding: 20px;
    border-radius: 5px;
}

a:hover {
    color: #fffdfe;
}

.add:hover {
    background-color: transparent;
    color: #6c757d;
}

.add {
    text-decoration: none;
    color: black;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background-color: rgba(242, 242, 242, 0.90);
    border-radius: 5px;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #050200;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #fffdfe;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

/* ----------------------------------------------------------------- */

/* ---------- CREATEWORKERCONFIG.RAZOR ---------- */


label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #777575;
    border: 1px solid transparent;
}

.newvalue:hover {
    background-color: #fffdfe;
    color: #050001;
}

.newvalue {
    background-color: #000305;
    color: white;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f1cb';
}

label[for*='2']:before {
    content: '\f17d';
}

label[for*='3']:before {
    content: '\f16b';
}

label[for*='4']:before {
    content: '\f1a9';
}

label:hover {
    color: #888;
    cursor: pointer;
}

label:active {
    color: #696868;
    cursor: pointer;
}

input:checked + label {
    color: #232222;
    border: 1px solid #ddd;
    border-top: 2px solid #050001;
    border-bottom: 1px solid #fff;
}

#tabParam:checked ~ #content1,
#tabAuth:checked ~ #content2,
#tabHeader:checked ~ #content3,
#tabBody:checked ~ #content4 {
    display: block;

}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
}
/* ----------------------------------------------------------------- */

/* ---------- STATISTICS.RAZOR ---------- */
.containerStat {
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(242, 242, 242, 0.90);
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;

    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
    color: #000200;
}
/* ----------------------------------------------------------------- */