@inherits Bachelor_Client.Pages.WorkerConfiguration.Scheduling.ScheduleWorkerBase
@if (ShowConfirmation)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@ConfirmationTitle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background-color: white"
                            @onclick="() => OnConfirmationChange(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm">
                            <label for="start">Start Date/Time:</label>
                        </div>
                        <div class="col-sm">
                            <input class="form-control" type="datetime-local"  min="2022-01-01T00:00" id = "datetime" @bind="DateTime" style="width: 100%; padding:0; padding-top: 5%"/>        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label for="frequency">Frequency:</label>
                        </div>
                        <div class="col-sm">
                            <select id="frequency" name="frequency" @bind="Frequency" style="height: 50px; width: 100%;  ">
                                 <option value="hour">Every hour</option>
                                <option value="day">Every day</option>
                                <option value="week">Every week</option>
                                <option value="month">Every month</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            @onclick="() => OnConfirmationChange(true)">Schedule</button>
                </div>
            </div>
        </div>
    </div>
    
}
@code {
    
}